@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

body {
	font-family: 'Archivo Black', sans-serif;
  }

.home {
	background-color: black;
	display: grid;
}

ul {
	list-style: none;
	background: rgb(255,248,0);
background: linear-gradient(90deg, rgba(255,248,0,1) 0%, rgba(255,255,255,1) 16%, rgba(255,225,127,1) 27%, rgba(156,122,7,1) 50%, rgba(255,217,86,1) 68%, rgba(255,255,255,1) 78%, rgba(255,248,0,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

li {
	height: 38vh;
	border-top: 2px solid rgba(255,217,86,1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}